@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
    font-style: normal;
}

body{
    color: #ededed;
}

.header{
    position:fixed;
    top: 20px;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #021c53;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    position:relative;
    color:#fff;
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
    cursor: default;
}

.navbar a{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-size: 22px;
    margin-left: 35px;
    font-weight: 500;
}
.navbar a:hover{
    color:#0ef;
}

.home{
    position: relative;
    width: 100%;
    height: 100vh;
    justify-content: space-between;
    background:linear-gradient(135deg,#153677,#4e0857);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding:70px 10% 0;
}

.home-content{ 
    display:flex;
    align-items: center;
}
.home-text{
    max-width: 600px;
}
.home-text h4{
    font-size: 30px;
    font-weight: 500;
}

.home-text h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
}

.home-text h3 span{
    color:#0ef;
    line-height: 40px;
}

.home-text p{
    font-size: 20px;
    line-height:25px;
}

.btn{
    display:inline-block;
    padding:12px 28px;
    border:none;
    background: #0ef;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 600;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    margin: 20px;
}

.btn:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan
}
.home-img img{
    width:25vw;
    padding: 10px;
    margin: 10px 10% 10px 250px;
    border-radius: 10%;
}

.about-content{
    background:linear-gradient(135deg,#153677,#4e0857);
    width:100%;
    display:flex;
    align-items: center;
}
.about-img img{
    width:25vw;
    padding: 10px;
    margin: 100px 100px 50px 100px;
    border: none;
    border-radius: 10%;
}

.about-text {
    max-width:600px;
    font-size: 22px;
    margin-left:300px;
}
.about-text h1 span{
    color:#0ef;
}
.about-text h1{
    font-size: 56px;
}

.about-text p {
    line-height:35px;
}

.skills{
    background:linear-gradient(135deg,#153677,#4e0857); 
    text-transform: uppercase;
    padding:20px;
    display:flex;
    align-items: center;
}
.skills-heading h1{
    font-size: 80px; 
    margin-left:18vw;
    margin-bottom: 5vh;
}
.skills-list {
    width: 500px;
    margin:8vw 2vw 2vw 25vw;
    background: black;
    padding: 20px;
    color:#fff;
    box-shadow:0 0 5px #0ef,
    0 0 15px #0ef, 0 0 25px #0ef,
    0 0 35px #0ef, 0 0 45px #0ef;   
}

.skills-list h3{
    margin:5px
}

.skills-list li{
    margin: 20px 0;
    padding: 10px;
}
.bar{
    background: rgb(82, 128, 197);
    display: block;
    height:20px;
    border: 1px Solid(0 ,0 ,0 ,0.3);
    border-radius: 10px;
    overflow:hidden;
    box-shadow: 0 0 0px #0ef,
    0 0 10px #0ef, 0 0 10px #0ef,
    0 0 10px #0ef, 0 0 10px #0ef;
    transition:all 0.3s cubic-bezier(.25,.8,.25,.1);
}
.bar:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0, 0, 0, 0.22);
}
.bar span{
    height: 20px;
    float: left;
    background:linear-gradient(135deg, rgba(236, 0, 140, 1)0%,rgba(252, 103, 103, 1)100%);
}
.html{
    width:70%;
    animation: html 3s;
}
.css{
    width:70%;
    animation: css 3s;
}
.c{
    width:60%;
    animation: c 3s;
}
.cpp{
    width:65%;
    animation: cpp 3s;
}
.java{
    width:65%;
    animation: java 3s;
}
.js{
    width:60%;
    animation: js 3s;
}

.skills-heading a{
    background: #0ef;
    margin-left: 12vw ;
    line-height: 38px;
    padding: 10px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
}

.projects{
    background:linear-gradient(135deg,#153677,#4e0857);
}
.projects h1{
    margin-left: 40vw;
    padding: 25px;
    font-size: 40px;
}

.projects ul{
    margin-left: 5vw;
}
.projects li{
    font-size: 18px;
    color: #0ef;
    line-height: 22px;
}
.projects ul p{
    line-height: 22px;
    width: 80vw;
    margin-left: 2vw;
}

.contacts{
    background: linear-gradient(135deg,#153677,#4e0857);
    display:flex;
    padding: 5vh 0vw 5vh 15vw;
    align-items: center;
}

.contacts a{
    color:#fff;
    margin-right: 10vw;
    text-decoration: none;
    padding:1vh 1vw;
    border-radius: 10px 0px 10px 0;
    line-height: 35px;
    background: transparent;
    border:2px solid;
    border-color: #0ef;

}
.contacts a:hover{
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 10px #0ef;
}

.contact-details a{
    padding:1.2vh 1.2vw;  
}


